#chart-area svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#logo {
  height:50px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.area {
  fill: lightsteelblue;
}
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #777;
  stroke-width: 3px;
}
  
.hover-line {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

#selections .col-md-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  margin: 0;
  padding: 15px 20px;
  background-color: #ffffff;
}

.article {
  line-height: 1.5em;
}

.entry  {
  border-bottom: 1px solid #ddd;
  padding-top: 2px;
  margin-top: 0.5em;
  margin-bottom: 5em;
}
.bg-img {
  /* The image used */
  background-image: url("logo.PNG");
    min-height: 250px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}
p.ex1 {
  border: 1px ; 
  padding: 35px 70px;
}